<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Randonnees</title>
<link rel="stylesheet" type="text/css" href="../../../../webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>

	<div class="container">

		<h1>Day detail</h1>

		<!-- 		<form th:action="@{/days/save/} + ${day.id}" method="get"> -->
		<form th:action="@{/treks/{trekId}/days/save/{dayId}(trekId=${day.trek.Id}, dayId=${day.id})}" method="GET">
			<div class="row">
				<label>Id :</label><label th:text="${day.id}"></label>
			</div>
			<div class="row">
				<label>Numero :</label><label th:text="${day.number}"></label>
			</div>

			<div class="row">

				<button type="submit" class="btn btn-info m-2">Modifier</button>

				<br> <a th:href="@{/treks/{trekId} (trekId=${day.trek.Id})}" class="btn btn-info m-2">Retour vers le Trek</a>
			</div>
		</form>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>